/* index, 모든 sub에 적용할 공통 header, footer common.css */
/* 이 css파일에는 header랑 footer만 존재한다!!! */
#wrap {
    min-width:1900px; /* pc버전이기 때문! 스크롤 크기 때문에 가로스크롤이 생기니까 조금 작게 만들어주기 */
}
/* ==================== header ==================== */
#wrap header {
    min-width:1200px; width:100%; /* 사용자 편의성을 고려해서 필요한 부분에 최소값을 넣어주면 좋다! */
    height:92px; /* position을 줬기 때문에 너비 값을 지정해줘야 한다 */
    /* 높이만 주게되면 높이가 정해지지만 자식정렬은 안되어 있기 때문에 아래 내용이 따라 올라온다. */
    background-color:#fff;
    padding:0 60px;
    /* container(header) item(h1,nav,right_menu) */
    display:flex; flex-flow:row nowrap;
    justify-content:space-between;
    align-items:center;
    position:fixed; /* lnb_bg의 부모 위치 기준 설정 */
    z-index:900;/* -1~0~999 단위 없고 중첩 순서만 결정하는 position 선택 속성 */
}
#wrap header h1 {}
#wrap header h1 a {}
#wrap header h1 a img {}
#wrap header nav {}
#wrap header nav .gnb {
    /* container(.gnb) item(li) */
    display:flex; flex-flow:row nowrap;
}
#wrap header nav .gnb > li {margin-right:60px;}
#wrap header nav .gnb > li:last-child {margin-right:0;}
#wrap header nav .gnb > li > a {
    font-size:1.125rem; font-weight:600;
    display:block;
    height:92px;
    line-height:92px;
}
/* ============================================서브메뉴 공통 */
/* #wrap header nav .gnb > li:first-child .lnb_bg {display:none;}  *//* company */
/* #wrap header nav .gnb > li:nth-child(2) .lnb_bg {}  *//* brands */
/* #wrap header nav .gnb > li:nth-child(3) .lnb_bg {display:none;} */ /* ir */
#wrap header nav .gnb > li:hover .lnb_bg {display:block;}
#wrap header nav .gnb > li .lnb_bg {
    background:rgba(255,255,255,0.8);
    position:absolute; left:0; top:92px;
    width:100%; /* absolute 대상의 경우 width 값은 부모설정된 요소의 상대값(%)으로 설정된다. */
    padding:50px 0;
    /* 초기 숨기기 (마우스 올릴 때만 보이도록) */
    display:none;
}
#wrap header nav .gnb > li .lnb_bg .lnb_depth1 {
    width:max-content; margin:0 auto;
    display:flex; flex-flow:row nowrap;
    text-align:center;
}
#wrap header nav .gnb > li .lnb_bg .lnb_depth1 > li {margin-right:100px;}
#wrap header nav .gnb > li .lnb_bg .lnb_depth1 > li:last-child {margin-right:0;}
#wrap header nav .gnb > li .lnb_bg .lnb_depth1 > li * {letter-spacing:0;}
#wrap header nav .gnb > li .lnb_bg .lnb_depth1 > li > a {
    display:block; margin-bottom:14px;
    font-size:1.063rem; font-weight:600;
}
#wrap header nav .gnb > li .lnb_bg .lnb_depth1 > li .lnb_depth2 {}
#wrap header nav .gnb > li .lnb_bg .lnb_depth1 > li .lnb_depth2 li {margin-bottom:16px;}
#wrap header nav .gnb > li .lnb_bg .lnb_depth1 > li .lnb_depth2 li:last-child {margin-bottom:0;}
#wrap header nav .gnb > li .lnb_bg .lnb_depth1 > li .lnb_depth2 li a {color:#555;}
#wrap header nav .gnb > li .lnb_bg .lnb_depth1 > li .lnb_depth2 li a:hover {color:#36B4E5;}
/* ============================================2. 브랜드 서브메뉴 */
#wrap header nav .gnb > li #lnb_brands {}
#wrap header nav .gnb > li #lnb_brands .lnb_depth1 {}
#wrap header nav .gnb > li #lnb_brands .lnb_depth1 > li {}
#wrap header nav .gnb > li #lnb_brands .lnb_depth1 > li > a {}
#wrap header nav .gnb > li #lnb_brands .lnb_depth1 > li h2 {
    font-size:1.063; font-weight:600;
    margin-bottom:14px;
}
#wrap header nav .gnb > li #lnb_brands .lnb_depth1 > li > a p {}
#wrap header nav .gnb > li #lnb_brands .lnb_depth1 > li > a p img {}
#wrap header nav .gnb > li #lnb_brands .lnb_depth1 > li > .lnb_depth2 {
    display:flex; flex-flow:row wrap;
    width:276px; justify-content:space-between;
    margin-top:14px;
}
#wrap header nav .gnb > li #lnb_brands .lnb_depth1 > li > .lnb_depth2 > li {
    margin-bottom:16px;
}
#wrap header nav .gnb > li #lnb_brands .lnb_depth1 > li > .lnb_depth2 > li:last-child,
#wrap header nav .gnb > li #lnb_brands .lnb_depth1 > li > .lnb_depth2 > li:nth-last-child(2) {
    margin-bottom:0;
    /* 했는데도 아래 여백이 남는건 이미지 크기 때문에 그런거라 크게 신경쓰지 않아도 됨. 아니면 크기 조절을 해야함. */
}
#wrap header nav .gnb > li #lnb_brands .lnb_depth1 > li > .lnb_depth2 > li > a {}
#wrap header nav .gnb > li #lnb_brands .lnb_depth1 > li > .lnb_depth2 > li > a img {}
/* ============================================2. 브랜드 서브메뉴 개발디자인(이미지효과) */
#wrap header nav .gnb > li #lnb_brands a img {
    filter:grayscale(100%) opacity(90%); border:2px solid #fff;
}
#wrap header nav .gnb > li #lnb_brands a:hover img {
    filter:grayscale(0%); border:2px solid #000;
}
/* ============================================우측 보조메뉴 */
#wrap header .right_menu {
    display:flex; flex-flow:row nowrap;
}
#wrap header .right_menu li {margin-left:30px;}
/* 포토샵, 피그마에서 디자인한 구분선 디자인은 CSS에서 가상선택자 after 또는 before를 이용하여 면으로 변경하여 디자인한다. */
#wrap header .right_menu li:first-child::after {
    content:''; /* CSS에서는 해당 요소를 선이 아닌 면으로 보기 때문에 그냥 |를 쓰면 안된다. */
    display:inline-block;
    width:1px; height:20px;
    background-color:#000;
    margin-left:30px;
}
#wrap header .right_menu li:first-child {
    line-height:24px; margin-left:0;
    display: flex; flex-flow:row nowrap;
    align-items: center;
}
#wrap header .right_menu li a {
    font-size:0.75rem; letter-spacing:0;
}
#wrap header .right_menu li a img {}
/* ==================== footer ==================== */
#wrap .footer_full_w {/* index에는 해당 이름의 클래스가 없어서 크기가 작은것! */
    width:100%; padding:50px 60px;
}
#wrap footer {
    width:1280px; margin:0 auto;
    padding:50px 0;
}
#wrap footer #top_wrap {
    margin-bottom:12px;
    display:flex; flex-flow:row nowrap;
    justify-content:space-between;
}
#wrap footer #top_wrap .left {
    display:flex; flex-flow:row nowrap;
    align-items:center;
}
#wrap footer #top_wrap .left a {margin-right:60px;}
#wrap footer #top_wrap .left a:nth-child(1) {
    color:#138FBF; font-weight:700;
}
#wrap footer #top_wrap .left a:nth-child(2) {
    color:#DA2128; font-weight:700;
}
#wrap footer #top_wrap .left a:last-child {margin-right:0;}
#wrap footer #top_wrap .left a img {}
#wrap footer #top_wrap .right {
    display:flex; flex-flow:row nowrap;
    align-items: center;
}
/* ==================footer 패밀리사이트+사이트맵 공통 */
#wrap footer #top_wrap .right .site {
    font-size:0.75rem;
    border:1px solid #EEEEEE;
    padding:7px 10px; height:26px;
}
/* ==================footer 패밀리사이트+사이트맵 개별 */
#wrap footer #top_wrap .right select {
    background:#fff url(../images/down-arrow.png) no-repeat 95% center;
    width:185px; outline:none;
}
#wrap footer #top_wrap .right select option {}
#wrap footer #top_wrap .right .site_map {
    display:flex; flex-flow:row nowrap;
    justify-content:space-between;
    align-items:center;
    background-color:#fff;
    width:123px;
    margin-left:20px;
}
#wrap footer #top_wrap .right .site_map span {}
#wrap footer #top_wrap .right .site_map img {}
#wrap footer #bottom_wrap {}
#wrap footer #bottom_wrap * { /* bottom의 모든 자식들에게 하겠다. */
    line-height:150%;
    font-size:0.875rem;
    color:#808080;
}
#wrap footer #bottom_wrap address {margin-bottom:50px;}
#wrap footer #bottom_wrap p {}