#wrap {}
/* ==================== header ==================== */
#wrap header {}
#wrap header h1 {}
#wrap header h1 a {}
#wrap header h1 a img {}
#wrap header nav {}
#wrap header nav .gnb {}
#wrap header nav .gnb li {}
#wrap header nav .gnb li a {
    font-size:1.125rem; font-weight:600;
}
#wrap header .right_menu {}
#wrap header .right_menu li {}
#wrap header .right_menu li a {
    font-size:0.75rem; letter-spacing:0;
}
#wrap header .right_menu li a img {}
/* ==================== footer ==================== */
#wrap footer {
    padding:50px 0;
}
#wrap footer #top_wrap {
    margin-bottom:12px;
}
#wrap footer #top_wrap .left {}
#wrap footer #top_wrap .left a {
    margin-right:60px;
}
#wrap footer #top_wrap .left a:nth-child(1) {
    color:#138FBF; font-weight:700;
}
#wrap footer #top_wrap .left a:nth-child(2) {
    color:#DA2128; font-weight:700;
}
#wrap footer #top_wrap .left a img {}
#wrap footer #top_wrap .right {}
/* ==================footer 패밀리사이트+사이트맵 공통 */
#wrap footer #top_wrap .right .site {
    font-size:0.75rem;
    border:1px solid #EEEEEE;
    padding:7px 10px;
    display:inline-block;
}
/* ==================footer 패밀리사이트+사이트맵 개별 */
#wrap footer #top_wrap .right select {}
#wrap footer #top_wrap .right select option {}
#wrap footer #top_wrap .right .site_map {}
#wrap footer #top_wrap .right .site_map span {}
#wrap footer #top_wrap .right .site_map img {}
#wrap footer #bottom_wrap {}
#wrap footer #bottom_wrap * { /* bottom의 모든 자식들에게 하겠다. */
    line-height:150%;
    font-size:0.875rem;
    color:#808080;
}
#wrap footer #bottom_wrap address {
    margin-bottom:50px;
}
#wrap footer #bottom_wrap p {}