#wrap {}
#wrap header {
    background-color:aqua;
    height:92px;
}
#wrap header h1 {
    background-color:orange;
    display:inline-block;
}
#wrap header h1 a {}
#wrap header h1 a img {}
#wrap header nav {
    background-color:red;
    display:inline-block;
}
#wrap header nav .gnb {}
#wrap header nav .gnb li {}
#wrap header nav .gnb li a {}
#wrap header .right_menu {
    background-color:lime;
}
#wrap header .right_menu li {}
#wrap header .right_menu li a {}
#wrap header .right_menu li a img {}